header, nav, main, footer {   
    display: block;   
    width: 1078px; 
}  

header { 
    background-color: #1a1a1a; 
    height: 100px; 
}  

nav { 
    background-color: #333333; 
    height: 50px; 
}  

main { 
    background-color: #4d4d4d; 
    height: auto; 
    overflow:hidden; 
}  

footer { 
    background-color: #262626; 
    height: 80px; 
}  

body { 
    color: #ffffff; 
    background-color: #000000; 
    margin: 0px;  
    text-align: center; 
}  


#col-left {   
    background-color:#006acc;  
    width: 200px; 
    height: 200px; 
    float: left;  
} 

#col-center {  
    background-color: rgb(17, 8, 141);
    width: calc(100% - 200px);
    height: 200px; 
    float: left;  
}  
  

footer {  
        background-color: #262626; 
        height: 80px; 
        clear: both;
        text-align: center; 
        color: #ffffff; 
    }
    
    #container { 
        position: relative;  
        margin: auto; 
        width: 1078px; 
        height: auto; 
        overflow: hidden;  
        border: 1px solid #ffffff;  
        }  

        #logo {
            position: absolute;
            width: 75px;
            height: 75px;
            border: 2px dotted #731980;
            top: 10px;
            left: 10px;
            overflow: hidden;
        }
        
        #logo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        

            table {
                width: 100%;
                border-collapse: collapse;
                background-color: #ffffff;
                color: #333333; 
            }
            
            
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }
            
            thead th {
                background-color: #a0a0a0;
            }
            
            tbody tr:nth-child(odd) {
                background-color: #ffffff;
            }
            
            tbody tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            
